In [1]:
import pandas as pd

In [2]:
# Create the DataFrame
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)

In [3]:
# Use iloc to select the first 3 rows of the DataFrame
first_3_rows = employee_df.iloc[:3]
print("First 3 rows:")
print(first_3_rows)
print()

First 3 rows:
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [4]:
# Use loc to select all rows where the Department is "Marketing"
marketing_department = employee_df.loc[employee_df['Department'] == 'Marketing']
print("Rows where Department is 'Marketing':")
print(marketing_department)
print()

Rows where Department is 'Marketing':
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [5]:
# Use iloc to select the Age and Gender columns for the first 4 rows
age_gender_first_4_rows = employee_df.iloc[:4, [2, 3]]
print("Age and Gender columns for the first 4 rows:")
print(age_gender_first_4_rows)
print()

Age and Gender columns for the first 4 rows:
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [6]:
# Use loc to select the Salary and Experience columns for all rows where the Gender is "Male"
salary_experience_male = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("Salary and Experience columns for all rows where Gender is 'Male':")
print(salary_experience_male)

Salary and Experience columns for all rows where Gender is 'Male':
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10