 ### Marketing campaign outcome prediction with deep learning

This ➡️ dataset contains banking marketing campaign data and we can use it to optimize marketing campaigns to attract more customers to term deposit subscription.

What is a Term Deposit?

A Term deposit is a deposit that a bank or a financial institution offers with a fixed rate (often better than just opening deposit account) in which your money will be returned back at a specific maturity time.


Instructions

In this assignment you will have to take the following steps:

- Import your dataset and perform initial analysis and visualization
- Clean the data
- Build a  deep learning network to predict the marketing campaign outcome ("deposit" either Yes or No)

#### Importing necessary libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### Loading my dataset

In [8]:
df = pd.read_csv(r"C:\Users\Oguntuga\Downloads\bank.csv")

In [10]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [12]:
df.shape

(11162, 17)

In [14]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [16]:
df.duplicated().sum()

0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [20]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [22]:
df["marital"].value_counts()

marital
married     6351
single      3518
divorced    1293
Name: count, dtype: int64

In [24]:
df["education"].value_counts()

education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64

In [26]:
df["default"].value_counts()

default
no     10994
yes      168
Name: count, dtype: int64

In [28]:
df["housing"].value_counts()

housing
no     5881
yes    5281
Name: count, dtype: int64

In [30]:
df["loan"].value_counts()

loan
no     9702
yes    1460
Name: count, dtype: int64

In [32]:
df["contact"].value_counts()

contact
cellular     8042
unknown      2346
telephone     774
Name: count, dtype: int64

In [34]:
df["month"].value_counts()

month
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: count, dtype: int64

In [36]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [38]:
df["poutcome"].value_counts()

poutcome
unknown    8326
failure    1228
success    1071
other       537
Name: count, dtype: int64

In [40]:
df["deposit"].value_counts()

deposit
no     5873
yes    5289
Name: count, dtype: int64

#### Encoding categorical columns

In [43]:
df['deposit'] = df['deposit'].map({'yes': 1, 'no': 0})
df['contact'] = df['contact'].map( {'cellular': 1, 'telephone': 2, 'unknown': 0})
df['loan'] = df['loan'].map({'yes': 1, 'no': 0})
df['housing'] = df['housing'].map({'yes': 1, 'no': 0})
df['default'] = df['default'].map({'yes': 1, 'no': 0})
df['marital'] = df['marital'].map({'married': 1, 'single': 2, 'divorced': 3})

In [45]:
df = pd.get_dummies(df, columns=['job', 'education', 'month', 'poutcome'], drop_first=True)

In [47]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Encode the 'deposit' column (target variable)
df['deposit'] = le.fit_transform(df['deposit'])

In [48]:
df.head()

,age,marital,default,balance,housing,loan,contact,day,duration,campaign,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,59,1,0,2343,1,0,0,5,1042,1,...,False,False,False,True,False,False,False,False,False,True
1,56,1,0,45,0,0,0,5,1467,1,...,False,False,False,True,False,False,False,False,False,True
2,41,1,0,1270,1,0,0,5,1389,1,...,False,False,False,True,False,False,False,False,False,True
3,55,1,0,2476,1,0,0,5,579,1,...,False,False,False,True,False,False,False,False,False,True
4,54,1,0,184,0,0,0,5,673,2,...,False,False,False,True,False,False,False,False,False,True

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  11162 non-null  int64
 1   marital              11162 non-null  int64
 2   default              11162 non-null  int64
 3   balance              11162 non-null  int64
 4   housing              11162 non-null  int64
 5   loan                 11162 non-null  int64
 6   contact              11162 non-null  int64
 7   day                  11162 non-null  int64
 8   duration             11162 non-null  int64
 9   campaign             11162 non-null  int64
 10  pdays                11162 non-null  int64
 11  previous             11162 non-null  int64
 12  deposit              11162 non-null  int64
 13  job_blue-collar      11162 non-null  bool
 14  job_entrepreneur     11162 non-null  bool
 15  job_housemaid        11162 non-null  bool
 16  job_management       11162 non-null  bool
 17  job_retired          11162 non-null  bool
 18  job_self-employed    11162 non-null  bool
 19  job_services         11162 non-null  bool
 20  job_student          11162 non-null  bool
 21  job_technician       11162 non-null  bool
 22  job_unemployed       11162 non-null  bool
 23  job_unknown          11162 non-null  bool
 24  education_secondary  11162 non-null  bool
 25  education_tertiary   11162 non-null  bool
 26  education_unknown    11162 non-null  bool
 27  month_aug            11162 non-null  bool
 28  month_dec            11162 non-null  bool
 29  month_feb            11162 non-null  bool
 30  month_jan            11162 non-null  bool
 31  month_jul            11162 non-null  bool
 32  month_jun            11162 non-null  bool
 33  month_mar            11162 non-null  bool
 34  month_may            11162 non-null  bool
 35  month_nov            11162 non-null  bool
 36  month_oct            11162 non-null  bool
 37  month_sep            11162 non-null  bool
 38  poutcome_other       11162 non-null  bool
 39  poutcome_success     11162 non-null  bool
 40  poutcome_unknown     11162 non-null  bool
dtypes: bool(28), int64(13)
memory usage: 1.4 MB

In [53]:
import tensorflow as tf  # TensorFlow library for building neural networks
from tensorflow.keras.models import Sequential  # Sequential model for building a feedforward neural network
from tensorflow.keras.layers import Dense, Dropout  # Dense layer for fully connected layers
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam  # Adam optimizer for gradient descent
from sklearn.model_selection import train_test_split  # Function to split data into training and test sets
from sklearn.preprocessing import StandardScaler  # Standardization of features (scaling)

#### Splitting the dataset

In [55]:
X = df.drop(columns=["deposit"])
y = df["deposit"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
X_train.shape

(8929, 40)

#### Scaling my data

In [58]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#### Building my model

In [60]:
model = Sequential()

#input layer
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dropout(0.3))

#hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

#output layer
model.add(Dense(1, activation='sigmoid'))

#Compiling the layers
model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['accuracy'])

In [61]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [62]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=32, callbacks=[early_stopping])

Epoch 1/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5223 - loss: 0.7354 - val_accuracy: 0.6247 - val_loss: 0.6525
Epoch 2/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5982 - loss: 0.6585 - val_accuracy: 0.7044 - val_loss: 0.5984
Epoch 3/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6710 - loss: 0.6076 - val_accuracy: 0.7421 - val_loss: 0.5426
Epoch 4/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7209 - loss: 0.5609 - val_accuracy: 0.7752 - val_loss: 0.4944
Epoch 5/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7487 - loss: 0.5175 - val_accuracy: 0.7944 - val_loss: 0.4583
Epoch 6/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7644 - loss: 0.4897 - val_accuracy: 0.8083 - val_loss: 0.4350
Epoch 7/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7803 - loss: 0.4672 - val_accuracy: 0.8213 - val_loss: 0.4180
Epoch 8/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7943 - loss: 0.4502 - val_accuracy: 0.8227 - val_loss: 0.4064
Epoch 9/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8014 - loss: 0.4372 - val_accuracy: 0.8231 - val_loss: 0.4004
Epoch 10/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7967 - loss: 0.4388 - val_accuracy: 0.8227 - val_loss: 0.3963
Epoch 11/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8122 - loss: 0.4170 - val_accuracy: 0.8249 - val_loss: 0.3921
Epoch 12/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8136 - loss: 0.4236 - val_accuracy: 0.8222 - val_loss: 0.3905
Epoch 13/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8119 - loss: 0.4230 - val_accuracy: 0.8227 - val_loss: 0.3890
Epoch 14/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8132 - loss: 0.4158 - val_accuracy: 0.8240 - val_loss: 0.3874
Epoch 15/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8129 - loss: 0.4081 - val_accuracy: 0.8231 - val_loss: 0.3868
Epoch 16/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8146 - loss: 0.4108 - val_accuracy: 0.8245 - val_loss: 0.3856
Epoch 17/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8207 - loss: 0.4040 - val_accuracy: 0.8231 - val_loss: 0.3844
Epoch 18/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8240 - loss: 0.3914 - val_accuracy: 0.8245 - val_loss: 0.3841
Epoch 19/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8269 - loss: 0.3923 - val_accuracy: 0.8258 - val_loss: 0.3833
Epoch 20/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8248 - loss: 0.3969 - val_accuracy: 0.8258 - val_loss: 0.3822
Epoch 21/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8394 - loss: 0.3743 - val_accuracy: 0.8231 - val_loss: 0.3819
Epoch 22/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8367 - loss: 0.3789 - val_accuracy: 0.8253 - val_loss: 0.3804
Epoch 23/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8277 - loss: 0.3857 - val_accuracy: 0.8245 - val_loss: 0.3806
Epoch 24/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8338 - loss: 0.3805 - val_accuracy: 0.8249 - val_loss: 0.3802
Epoch 25/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8280 - loss: 0.3880 - val_accuracy: 0.8258 - val_loss: 0.3790
Epoch 26/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8315 - loss: 0.3873 - val_accuracy: 0.8258 - val_loss: 0.3786
Epoch 27/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8305 - loss: 0.3934 - val_accuracy: 0.8262 - val_loss: 0.3784
Epoch 28/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8410 - loss: 0.3701 - val_accuracy: 0.8262 - val_loss: 0.3776
Epoch 29/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8367 - loss: 0.3779 - val_accuracy: 0.8276 - val_loss: 0.3769
Epoch 30/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8312 - loss: 0.3819 - val_accuracy: 0.8276 - val_loss: 0.3764
Epoch 31/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8367 - loss: 0.3814 - val_accuracy: 0.8258 - val_loss: 0.3759
Epoch 32/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8416 - loss: 0.3749 - val_accuracy: 0.8271 - val_loss: 0.3759
Epoch 33/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8452 - loss: 0.3653 - val_accuracy: 0.8276 - val_loss: 0.3752
Epoch 34/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8348 - loss: 0.3806 - val_accuracy: 0.8289 - val_loss: 0.3750
Epoch 35/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8442 - loss: 0.3681 - val_accuracy: 0.8280 - val_loss: 0.3743
Epoch 36/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8503 - loss: 0.3652 - val_accuracy: 0.8276 - val_loss: 0.3734
Epoch 37/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8396 - loss: 0.3705 - val_accuracy: 0.8285 - val_loss: 0.3736
Epoch 38/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8414 - loss: 0.3649 - val_accuracy: 0.8271 - val_loss: 0.3734
Epoch 39/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8410 - loss: 0.3712 - val_accuracy: 0.8285 - val_loss: 0.3723
Epoch 40/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8495 - loss: 0.3623 - val_accuracy: 0.8289 - val_loss: 0.3722
Epoch 41/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8413 - loss: 0.3680 - val_accuracy: 0.8285 - val_loss: 0.3718
Epoch 42/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8358 - loss: 0.3736 - val_accuracy: 0.8289 - val_loss: 0.3710
Epoch 43/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8453 - loss: 0.3638 - val_accuracy: 0.8289 - val_loss: 0.3708
Epoch 44/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8445 - loss: 0.3624 - val_accuracy: 0.8294 - val_loss: 0.3706
Epoch 45/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8391 - loss: 0.3661 - val_accuracy: 0.8307 - val_loss: 0.3707
Epoch 46/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8435 - loss: 0.3669 - val_accuracy: 0.8280 - val_loss: 0.3703
Epoch 47/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8448 - loss: 0.3624 - val_accuracy: 0.8280 - val_loss: 0.3700
Epoch 48/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8501 - loss: 0.3550 - val_accuracy: 0.8294 - val_loss: 0.3698
Epoch 49/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8495 - loss: 0.3572 - val_accuracy: 0.8294 - val_loss: 0.3696
Epoch 50/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8461 - loss: 0.3629 - val_accuracy: 0.8289 - val_loss: 0.3696
Epoch 51/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8481 - loss: 0.3633 - val_accuracy: 0.8294 - val_loss: 0.3695
Epoch 52/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8531 - loss: 0.3528 - val_accuracy: 0.8267 - val_loss: 0.3702
Epoch 53/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8460 - loss: 0.3514 - val_accuracy: 0.8280 - val_loss: 0.3696
Epoch 54/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8526 - loss: 0.3468 - val_accuracy: 0.8298 - val_loss: 0.3690
Epoch 55/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8504 - loss: 0.3519 - val_accuracy: 0.8294 - val_loss: 0.3689
Epoch 56/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8475 - loss: 0.3538 - val_accuracy: 0.8289 - val_loss: 0.3685
Epoch 57/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8477 - loss: 0.3607 - val_accuracy: 0.8289 - val_loss: 0.3684
Epoch 58/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8525 - loss: 0.3467 - val_accuracy: 0.8298 - val_loss: 0.3683
Epoch 59/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8514 - loss: 0.3572 - val_accuracy: 0.8307 - val_loss: 0.3680
Epoch 60/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8508 - loss: 0.3484 - val_accuracy: 0.8307 - val_loss: 0.3680
Epoch 61/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8555 - loss: 0.3479 - val_accuracy: 0.8303 - val_loss: 0.3672
Epoch 62/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8481 - loss: 0.3580 - val_accuracy: 0.8316 - val_loss: 0.3668
Epoch 63/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8597 - loss: 0.3393 - val_accuracy: 0.8325 - val_loss: 0.3663
Epoch 64/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8531 - loss: 0.3506 - val_accuracy: 0.8330 - val_loss: 0.3671
Epoch 65/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8544 - loss: 0.3436 - val_accuracy: 0.8330 - val_loss: 0.3667
Epoch 66/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8497 - loss: 0.3562 - val_accuracy: 0.8330 - val_loss: 0.3659
Epoch 67/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8601 - loss: 0.3416 - val_accuracy: 0.8321 - val_loss: 0.3655
Epoch 68/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8490 - loss: 0.3551 - val_accuracy: 0.8321 - val_loss: 0.3661
Epoch 69/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8448 - loss: 0.3543 - val_accuracy: 0.8321 - val_loss: 0.3668
Epoch 70/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8499 - loss: 0.3466 - val_accuracy: 0.8316 - val_loss: 0.3664
Epoch 71/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8541 - loss: 0.3479 - val_accuracy: 0.8316 - val_loss: 0.3658
Epoch 72/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8518 - loss: 0.3474 - val_accuracy: 0.8321 - val_loss: 0.3654
Epoch 73/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8530 - loss: 0.3439 - val_accuracy: 0.8307 - val_loss: 0.3654
Epoch 74/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8554 - loss: 0.3411 - val_accuracy: 0.8312 - val_loss: 0.3654
Epoch 75/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8545 - loss: 0.3408 - val_accuracy: 0.8330 - val_loss: 0.3655
Epoch 76/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8651 - loss: 0.3308 - val_accuracy: 0.8325 - val_loss: 0.3653
Epoch 77/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8598 - loss: 0.3366 - val_accuracy: 0.8325 - val_loss: 0.3656
Epoch 78/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8575 - loss: 0.3411 - val_accuracy: 0.8339 - val_loss: 0.3649
Epoch 79/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8589 - loss: 0.3387 - val_accuracy: 0.8352 - val_loss: 0.3650
Epoch 80/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8471 - loss: 0.3525 - val_accuracy: 0.8339 - val_loss: 0.3646
Epoch 81/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8591 - loss: 0.3304 - val_accuracy: 0.8321 - val_loss: 0.3648
Epoch 82/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8545 - loss: 0.3385 - val_accuracy: 0.8325 - val_loss: 0.3646
Epoch 83/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8566 - loss: 0.3404 - val_accuracy: 0.8339 - val_loss: 0.3646
Epoch 84/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8595 - loss: 0.3417 - val_accuracy: 0.8374 - val_loss: 0.3647
Epoch 85/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8625 - loss: 0.3399 - val_accuracy: 0.8361 - val_loss: 0.3647
Epoch 86/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8552 - loss: 0.3432 - val_accuracy: 0.8356 - val_loss: 0.3648
Epoch 87/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8577 - loss: 0.3409 - val_accuracy: 0.8352 - val_loss: 0.3650
Epoch 88/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8629 - loss: 0.3356 - val_accuracy: 0.8361 - val_loss: 0.3650
Epoch 89/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8553 - loss: 0.3427 - val_accuracy: 0.8334 - val_loss: 0.3648
Epoch 90/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8637 - loss: 0.3356 - val_accuracy: 0.8339 - val_loss: 0.3642
Epoch 91/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8585 - loss: 0.3338 - val_accuracy: 0.8343 - val_loss: 0.3644
Epoch 92/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8560 - loss: 0.3386 - val_accuracy: 0.8348 - val_loss: 0.3653
Epoch 93/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8660 - loss: 0.3272 - val_accuracy: 0.8343 - val_loss: 0.3649
Epoch 94/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8619 - loss: 0.3356 - val_accuracy: 0.8352 - val_loss: 0.3643
Epoch 95/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8539 - loss: 0.3412 - val_accuracy: 0.8352 - val_loss: 0.3645
Epoch 96/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8671 - loss: 0.3253 - val_accuracy: 0.8334 - val_loss: 0.3636
Epoch 97/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8580 - loss: 0.3330 - val_accuracy: 0.8348 - val_loss: 0.3648
Epoch 98/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8639 - loss: 0.3333 - val_accuracy: 0.8343 - val_loss: 0.3642
Epoch 99/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8600 - loss: 0.3319 - val_accuracy: 0.8339 - val_loss: 0.3638
Epoch 100/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8675 - loss: 0.3228 - val_accuracy: 0.8352 - val_loss: 0.3636

In [63]:
# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)

print(f"Test Accuracy: {test_acc * 100:.2f}%")

70/70 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8194 - loss: 0.3909
Test Accuracy: 83.34%