In [1]:
import pandas as pd

In [2]:
# Read the dataset
df = pd.read_csv("Downloads/EDUCATION_ATTAINMENT.csv")

In [4]:
# Display the first few rows of the dataset
print (df.head())

   Ages[15-49]_All_grade1  Ages[15-49]_All_grade2  Ages[15-49]_All_grade3  \
0                0.669091                0.667214                0.651812
1                0.485879                0.480171                0.465510
2                0.516431                0.514233                0.502269
3                0.914294                0.903528                0.871690
4                0.876990                0.841497                0.762864

   Ages[20-29]_All_grade1  Ages[20-29]_All_grade2  Ages[20-29]_All_grade3  \
0                0.460899                0.458749                0.446925
1                0.267236                0.265735                0.257999
2                0.327775                0.326250                0.318003
3                0.853770                0.840792                0.810794
4                0.881265                0.854158                0.795892

   Ages[30-39]_All_grade1  Ages[30-39]_All_grade2  Ages[30-39]_All_grade3  \
0                0.292791                0.290929                0.279100
1                0.191279                0.188839                0.182693
2                0.221981                0.220472                0.214040
3                0.775725                0.757109                0.713569
4                0.883625                0.853812                0.805231

   Ages[40-49]_All_grade1  ...  Ages[20-29]_Female_grade2  \
0                0.250981  ...                   0.279915
1                0.187151  ...                   0.122435
2                0.205611  ...                   0.157744
3                0.786468  ...                   0.786506
4                0.747516  ...                   0.793379

   Ages[20-29]_Female_grade3  Ages[30-39]_Female_grade1  \
0                   0.272185                   0.111428
1                   0.117916                   0.084555
2                   0.151130                   0.086072
3                   0.746073                   0.699617
4                   0.712726                   0.808248

   Ages[30-39]_Female_grade2  Ages[30-39]_Female_grade3  \
0                   0.109101                   0.103791
1                   0.083607                   0.080518
2                   0.085138                   0.082124
3                   0.675786                   0.618058
4                   0.762858                   0.693267

   Ages[40-49]_Female_grade1  Ages[40-49]_Female_grade2  \
0                   0.098721                   0.097825
1                   0.065466                   0.065466
2                   0.073085                   0.073037
3                   0.687626                   0.648913
4                   0.559192                   0.516735

   Ages[40-49]_Female_grade3      country  year
0                   0.092263  Afghanistan  2015
1                   0.064012  Afghanistan  2007
2                   0.071735  Afghanistan  2010
3                   0.576818       Angola  2015
4                   0.429649       Angola  1999

[5 rows x 38 columns]

In [5]:
# Display general information about the dataset
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ages[15-49]_All_grade1     626 non-null    float64
 1   Ages[15-49]_All_grade2     626 non-null    float64
 2   Ages[15-49]_All_grade3     626 non-null    float64
 3   Ages[20-29]_All_grade1     626 non-null    float64
 4   Ages[20-29]_All_grade2     626 non-null    float64
 5   Ages[20-29]_All_grade3     626 non-null    float64
 6   Ages[30-39]_All_grade1     625 non-null    float64
 7   Ages[30-39]_All_grade2     625 non-null    float64
 8   Ages[30-39]_All_grade3     625 non-null    float64
 9   Ages[40-49]_All_grade1     625 non-null    float64
 10  Ages[40-49]_All_grade2     625 non-null    float64
 11  Ages[40-49]_All_grade3     625 non-null    float64
 12  Ages[15-49]_Male_grade1    626 non-null    float64
 13  Ages[15-49]_Male_grade2    626 non-null    float64
 14  Ages[15-49]_Male_grade3    626 non-null    float64
 15  Ages[20-29]_Male_grade1    626 non-null    float64
 16  Ages[20-29]_Male_grade2    626 non-null    float64
 17  Ages[20-29]_Male_grade3    626 non-null    float64
 18  Ages[30-39]_Male_grade1    625 non-null    float64
 19  Ages[30-39]_Male_grade2    625 non-null    float64
 20  Ages[30-39]_Male_grade3    625 non-null    float64
 21  Ages[40-49]_Male_grade1    625 non-null    float64
 22  Ages[40-49]_Male_grade2    625 non-null    float64
 23  Ages[40-49]_Male_grade3    625 non-null    float64
 24  Ages[15-49]_Female_grade1  626 non-null    float64
 25  Ages[15-49]_Female_grade2  626 non-null    float64
 26  Ages[15-49]_Female_grade3  626 non-null    float64
 27  Ages[20-29]_Female_grade1  626 non-null    float64
 28  Ages[20-29]_Female_grade2  626 non-null    float64
 29  Ages[20-29]_Female_grade3  626 non-null    float64
 30  Ages[30-39]_Female_grade1  625 non-null    float64
 31  Ages[30-39]_Female_grade2  625 non-null    float64
 32  Ages[30-39]_Female_grade3  625 non-null    float64
 33  Ages[40-49]_Female_grade1  625 non-null    float64
 34  Ages[40-49]_Female_grade2  625 non-null    float64
 35  Ages[40-49]_Female_grade3  625 non-null    float64
 36  country                    626 non-null    object
 37  year                       626 non-null    int64
dtypes: float64(36), int64(1), object(1)
memory usage: 186.0+ KB
None

In [8]:
# Run descriptive analysis
print (df.describe())

       Ages[15-49]_All_grade1  Ages[15-49]_All_grade2  Ages[15-49]_All_grade3  \
count              626.000000              626.000000              626.000000
mean                 0.873886                0.861490                0.837509
std                  0.162624                0.166895                0.176555
min                  0.251917                0.244071                0.233274
25%                  0.831791                0.803131                0.757465
50%                  0.948926                0.935167                0.909587
75%                  0.984447                0.980112                0.971166
max                  1.000000                1.000000                1.000000

       Ages[20-29]_All_grade1  Ages[20-29]_All_grade2  Ages[20-29]_All_grade3  \
count              626.000000              626.000000              626.000000
mean                 0.823849                0.812738                0.789965
std                  0.200559                0.202587                0.207979
min                  0.079610                0.079610                0.079610
25%                  0.744915                0.723418                0.678869
50%                  0.910132                0.896568                0.864849
75%                  0.973777                0.967410                0.955625
max                  1.000000                0.999824                0.999264

       Ages[30-39]_All_grade1  Ages[30-39]_All_grade2  Ages[30-39]_All_grade3  \
count              625.000000              625.000000              625.000000
mean                 0.766171                0.752519                0.724980
std                  0.236563                0.237679                0.240681
min                  0.098059                0.091358                0.085236
25%                  0.639447                0.612464                0.561545
50%                  0.853861                0.831246                0.794898
75%                  0.959097                0.948259                0.922841
max                  1.000000                1.000000                1.000000

       Ages[40-49]_All_grade1  ...  Ages[20-29]_Female_grade1  \
count              625.000000  ...                 626.000000
mean                 0.709166  ...                   0.790544
std                  0.259998  ...                   0.236541
min                  0.036549  ...                   0.029662
25%                  0.527055  ...                   0.678596
50%                  0.785356  ...                   0.900869
75%                  0.937129  ...                   0.974514
max                  1.000000  ...                   1.000000

       Ages[20-29]_Female_grade2  Ages[20-29]_Female_grade3  \
count                 626.000000                 626.000000
mean                    0.778972                   0.755644
std                     0.238637                   0.243755
min                     0.029662                   0.029662
25%                     0.658977                   0.616380
50%                     0.887206                   0.853414
75%                     0.968962                   0.959495
max                     1.000000                   0.999777

       Ages[30-39]_Female_grade1  Ages[30-39]_Female_grade2  \
count                 625.000000                 625.000000
mean                    0.719020                   0.704342
std                     0.278133                   0.279059
min                     0.060930                   0.058368
25%                     0.534060                   0.508218
50%                     0.815823                   0.794049
75%                     0.958022                   0.946510
max                     1.000000                   1.000000

       Ages[30-39]_Female_grade3  Ages[40-49]_Female_grade1  \
count                 625.000000                 625.000000
mean                    0.675526                   0.646864
std                     0.281139                   0.302723
min                     0.053241                   0.022547
25%                     0.463656                   0.400638
50%                     0.749927                   0.719924
75%                     0.920707                   0.929507
max                     1.000000                   1.000000

       Ages[40-49]_Female_grade2  Ages[40-49]_Female_grade3         year
count                 625.000000                 625.000000   626.000000
mean                    0.628309                   0.593585  2005.049521
std                     0.302637                   0.301434     7.894248
min                     0.022022                   0.020972  1981.000000
25%                     0.372404                   0.330846  2000.000000
50%                     0.686513                   0.625602  2005.000000
75%                     0.914777                   0.875928  2011.000000
max                     1.000000                   1.000000  2020.000000

[8 rows x 37 columns]